<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://image.freepik.com/icones-gratis/extensao-de-arquivo-excel_318-40499.png" type="image/type here"/>
    
    <title>NoExcell</title>
   
    <script type="text/javascript" src="bowerModules/jquery/dist/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="bowerModules/Materialize/dist/css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <script type="text/javascript" src="bowerModules/Materialize/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="js/initial.js"></script>
</head>