<nav>
  <div class="nav-wrapper teal">
    <a href="#!" class="brand-logo">NoExcell</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Mês vigente</a></li>
      <li><a href="#">Próximos Pagamentos</a></li>
      <li><a href="#">Pagamentos Atrasados</a></li>
      <li><a href="#">Pagamentos Realizados</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="#">Mês vigente</a></li>
      <li><a href="#">Próximos Pagamentos</a></li>
      <li><a href="#">Pagamentos Atrasados</a></li>
      <li><a href="#">Pagamentos Realizados</a></li>
    </ul>
  </div>
</nav>