    <div class= "Container">
        <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
        <script type="text/javascript" src="/controller/contas/novacontroller.js"></script>
		<div ng-app = "noexcell" ng-controller = "novacontroller">
		  <h5>Cadastrar </h5>
          <br>
           <div class="container-fluid">
                <div class="row">
                    <div class="input-field col s6">
                        <input   placeholder="Digite o nome da conta" length="100" type="text" class="validate" required  ng-model="novaConta.nome" value = {{novaConta.nome}} >
                        <label>Nome da Conta</label>
                    </div>
                     <div class="input-field col s6">
                        <select ng-model="novaConta.categoria.nome" ng-options="item as categoria.nome for categoria in categorias track by categoria.id"></select>
                        <label>Selecione a categoria</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <input placeholder="Digite o valor"  type="number" class="validate" required ng-model="novaConta.valor">
                        <label>Valor</label>
                    </div>
                    <div class="input-field col s3">
                      <input type="date" ng-model="novaConta.dataPagamento" placeholder="yyyy-MM-dd" min="2013-01-01" max="2013-12-31" required />
                    </div>
                    <div class="input-field col s3">
                        <input   placeholder="Pagamento" length="100" type="date" class="validate" required/>
                    </div>
                 </div>
                  <div class="row">
                    <div class ="offset-s6 col s6">
                        <div class ="col s6">
                            <a class="waves-effect purple btn" ng-click="salvar()">Salvar</a>
                        </div>
                        <div class ="col s6">
                            <a class="waves-effect purple btn" ng-click="cancelar()">Cancelar</a>
                        </div>
                    </div>
                  </div>                      
            </div>	
        </div> 